.results_screen {
  position: relative;
  height: 100%;
  width: 100%;
}

.results_screen_box {
  position: relative;
  height: 90%;
  width: 80%;
  left: 10%;
  top: 5%;
  display: grid;
  grid-template-rows: 20% 40% 40%;
  border-radius: 10px;
  border-style: solid;
  border-color: #2a99ed;
}

.results_screen_load_bottom {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 43% 57%;
}

.results_screen_upload_button {
  position: relative;
  height: 30%;
  width: 50%;
  top: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size:calc(5px + 1vw);
  font-family:'Lucida Sans';
  color: #000000;
  position: absolute;
  background-color:#2a99ed;
  border-radius: 10px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.results_screen_flex_container {
  position: relative;
  height: 90%;
  width: 90%;
  top: 5%;
  left: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.results_screen_left_container {
  position: relative;
  height: 90%;
  width: 90%;
  top: 5%;
  left: 3%;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
}

.results_screen_right_container {
  position: relative;
  height: 90%;
  width: 90%;
  top: 5%;
  left: 3%;
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: center;
}

.results_screen_text {
  font-size:calc(10px + 2vw);
  font-family:'Lucida Sans';
  color: #000000;
  position: absolute;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.results_screen_text_small {
  font-size:calc(5px + 1vw);
  font-family:'Lucida Sans';
  color: #000000;
  position: absolute;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.results_screen_text_normal {
  font-size:calc(10px + 1vw);
  font-family:'Lucida Sans';
  color: #000000;
  position: absolute;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.results_screen_table {
  position: relative;
  height: 90%;
  width: 90%;
  left: 5%;
  top: 5%;
  display: grid;
  grid-template-rows: 12% 88%;
}

.results_screen_table_top {
  position: relative;
  height: 90%;
  width: 100%;
  top: 5%;
  display: grid;
  grid-template-columns: 60% 20% 20%;
}

.results_screen_back_button {
  position: relative;
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size:calc(5px + 1vw);
  font-family:'Lucida Sans';
  color: #000000;
  position: absolute;
  background-color:#2a99ed;
  border-radius: 10px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.results_screen_table_bottom {
  position: relative;
  height: 95%;
  width: 100%;
  top: 5%;
  overflow: scroll;
  background-color: #000000;
}

.results_screen_table_row {
  background-color: #f0f0f0;
}

.results_screen_table_header {
  font-size:calc(8px + 1vw);
  font-family:'Lucida Sans';
  color: #2a99ed;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.results_screen_table_text {
  font-size:calc(5px + 1vw);
  font-family:'Lucida Sans';
  color: #000000;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.results_screen_table_text_green {
  font-size:calc(5px + 1vw);
  font-family:'Lucida Sans';
  color: #000000;
  background-color: #ff8b8b;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.results_screen_pressed_button {
  position: relative;
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:calc(5px + 1vw);
  font-family:'Lucida Sans';
  color: #000000;
  position: absolute;
  background-color: #a9d8ff;
  border-radius: 10px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.results_screen_text_small_button {
  font-size:calc(5px + 1vw);
  font-family:'Lucida Sans';
  color: #000000;
  position: absolute;
  width: 90%;
  left: 5%;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}